body{
  text-align: center;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 14px;
}
#flatiron{
  background: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.menu{
  font-size: 18px;
  color: white;
}
#process{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
h4{
  font-size: 14px;
}
h2.designed_image{
  font-size: 23px;
  font-weight: bold;
  color:white;
  background: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
}
.copyright{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
